<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_LEVEL_PATTERN">{%5p}{FATAL=red blink, ERROR=red bold, WARN=yellow bold, INFO=green bold, DEBUG=blue bold, TRACE=blue}</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%style{%d{MM-dd HH:mm:ss}}{magenta} %highlight${LOG_LEVEL_PATTERN} %style{[%c{1.1.1.*}]}{cyan} %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        ...

        <Root level="INFO">
            <AppenderRef ref="console" />
            <AppenderRef ref="FILE" />
        </Root>
    </Loggers>
</Configuration>

        <!--<?xml version="1.0" encoding="UTF-8"?>-->
        <!--<Configuration status="INFO">-->
        <!--    <Properties>-->
        <!--        <Property name="LOG_LEVEL_PATTERN">{%5p}{FATAL=red blink, ERROR=red bold, WARN=yellow bold, INFO=green bold, DEBUG=blue bold, TRACE=blue}</Property>-->
        <!--    </Properties>-->
        <!--    <Appenders>-->
        <!--        <Console name="Console" target="SYSTEM_OUT">-->
        <!--            <PatternLayout-->
        <!--                    pattern="%style{%d{HH:mm:ss.SSS}}{magenta} [%t] %highlight${LOG_LEVEL_PATTERN} %logger{36} - %style{%msg%}{cyan} %n"/>-->
        <!--        </Console>-->
        <!--        <File name="FileLogger" fileName="logs/client.log" append="true">-->
        <!--            <PatternLayout pattern="%d %p %c [%t] %m%n"/>-->
        <!--        </File>-->
        <!--    </Appenders>-->
        <!--    <Loggers>-->
        <!--        <Root level="info">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--            <AppenderRef ref="FileLogger"/>-->
        <!--        </Root>-->
        <!--    </Loggers>-->
        <!--</Configuration>-->